<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.springframework.samples.petclinic.mapper.VisitMapper">
	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="org.springframework.samples.petclinic.model.Visit">
		<!-- should check existance of petId -->
		INSERT INTO visits
			(id,
			pet_id,
			visit_date,
			description)
		VALUES(
			#{id},
			#{petId},
			#{date},
			#{description})
		ON DUPLICATE KEY UPDATE
			pet_id=#{petId},
			visit_date=#{date},
			description=#{description};
	</insert>
</mapper>